/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
font-family:'Roboto', sans-serif;;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
display: block;
font-family: 'Roboto', sans-serif;
}
ol,
ul {
list-style: none;
margin: 0px;
padding: 0px;
}
blockquote,
q {
quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
/* start editing from here */
a {
text-decoration: none;
}
.txt-rt {
text-align: right;
}
/* text align right */
.txt-lt {
text-align: left;
}
/* text align left */
.txt-center {
text-align: center;
}
/* text align center */
.float-rt {
float: right;
}
/* float right */
.float-lt {
float: left;
}
/* float left */
.clear {
clear: both;
}
/* clear float */
.pos-relative {
position: relative;
}
/* Position Relative */
.pos-absolute {
position: absolute;
}
/* Position Absolute */
.vertical-base {
vertical-align: baseline;
}
/* vertical align baseline */
.vertical-top {
vertical-align: top;
}
/* vertical align top */
nav.vertical ul li {
display: block;
}
/* vertical menu */
nav.horizontal ul li {
display: inline-block;
}
/* horizontal menu */
img {
max-width: 100%;
}
/*end reset*/
body {
background: url(../images/bg.jpg) no-repeat;
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
-ms-background-size: cover;
background-position: center;
min-height: 100vh;
}
/*-- title --*/
h1.header-w3ls {
font-size: 3.5em;
color: #FF0000;
letter-spacing: 2px;
text-align: center;
padding: 31px 0px 25px;
font-weight:500;
}
/*-- //title --*/
/*-- content --*/
.main{
display: -webkit-flex;
display: -webkit-box;
display: -moz-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.form-group-w3l p,h1 {
font-size: 20px;
color: #0000FF;
}
.form-group-w3l{
	
flex-basis: 48%;
-webkit-flex-basis: 48%;
}
.sub-hedder h2{
color:#0000FF
}
.porduct-order-agile {
width:34%;
padding: 2.5em 3em 3em;
margin: 0em auto;
-webkit-box-shadow: -2px 7px 37px 8px rgba(0,0,0,0.52);
-moz-box-shadow: -2px 7px 37px 8px rgba(0,0,0,0.52);
box-shadow: -2px 7px 37px 8px rgba(0,0,0,0.52);
background: #fff;
}
.sub-hedder h2,.form-control-w3l h3  {
font-size: 22px;
color: #FF0000
margin: 13px 0px;
}
label.form-check-label {
font-size: 14px; 
color: #000;
}
.form-check {
margin-bottom: 12px;
}
.form-check h1{
font-size:40px;
color:#1E90FF
}
.form-group-w3l input[type="text"],.form-group-w3l input[type="email"],.form-control-w3l textarea{
width: 100%;
color: #000;
outline: none;
font-size: 14px;
padding: .6em 1em;
margin: 13px 0px 20px;
border: 1px solid #000;
-webkit-appearance: none;
display: inline-block;
background: rgb(255, 255, 255);
transition: all 0.5s ease-in-out;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
box-sizing: border-box;
}
.form-control-w3l textarea {
height: 7.5em;
overflow: hidden;
resize: none;
}
.form-control-w3l {
margin-top: 2em;
}
button[type=submit] {
width: 100%;
background: #e2b823;
outline: none;
color: #000;
margin: 19px 0px 0px;
font-size: 15px;
font-weight: 400;
border: none;
padding: 10px 10px;
letter-spacing: 1px;
text-transform: uppercase;
cursor: pointer;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-o-transition: 0.5s all;
-moz-transition: 0.5s all;
-ms-transition: 0.5s all;
}
button[type=submit]:hover{background:#000;
color:#fff;}
.copy {
padding: 30px 0px;
}
.copy p {
text-align: center;
font-size: 15px;
color: white;
letter-spacing: 2px;
}
.copy p a {
color: #fff;
text-decoration: none;
}
.copy p a:hover {	color: #000;}
/*--responsive--*/
@media(max-width:1920px){
h1.header-w3ls {
padding: 37px 0px 36px;
}
.porduct-order-agile {
width: 37%;
}
}
@media(max-width:1680px){
.porduct-order-agile {
width: 35%;
}	
h1.header-w3ls {
padding: 33px 0px 30px;
}
}
@media(max-width:1600px){
.porduct-order-agile {
width: 34%;
padding: 2.5em 3em 3em;
}
h1.header-w3ls {
font-size: 3.5em;
padding: 31px 0px 25px;
}
}
@media(max-width:1440px){
.porduct-order-agile {
padding: 2.5em 2.8em 3em;
}	
h1.header-w3ls {
font-size: 3.2em;
}
}
@media(max-width:1366px){
.porduct-order-agile {
width: 38%;
}
.sub-hedder h2,.form-control-w3l h3 {
font-size: 20px;
margin: 11px 0px;
}
.form-group-w3l input[type="text"], 
.form-group-w3l input[type="email"],
.form-control-w3l textarea {
font-size: 14px;
padding: .6em 1em;
}
.form-control-w3l textarea {
height: 7em;
}
}
@media(max-width:1280px){
.porduct-order-agile {
width: 42%;
}
.form-check {
margin-bottom: 11px;
}	
}
@media(max-width:1080px){
h1.header-w3ls {
font-size: 3em;
padding: 29px 0px 22px;
}
button[type=submit] {
margin: 15px 0px 0px;
}
.porduct-order-agile {
padding: 2.5em 2.8em 2.5em;
}
}
@media(max-width:1050px){
}
@media(max-width:1024px){
h1.header-w3ls {
font-size: 2.7em;
}
.porduct-order-agile {
width: 52%;
}
}
@media(max-width:991px){
.form-control-w3l {
margin-top: 1.8em;
}
.porduct-order-agile {
width: 56%;
}
}
@media(max-width:900px){
h1.header-w3ls {
padding: 25px 0px 20px;
}	
.form-check {
margin-bottom: 9px;
}
.form-control-w3l {
margin-top: 1.6em;
}
}
@media(max-width:800px){
.copy p {
letter-spacing: 1px;
}	
.copy {
padding: 27px 0px;
}
}
@media(max-width:768px){
h1.header-w3ls {
font-size: 2.5em;
}
.form-group-w3l input[type="text"],
.form-group-w3l input[type="email"], 
.form-control-w3l textarea, {
margin: 13px 0px 17px;
}	
.porduct-order-agile {
padding: 2.5em 2.5em 2.5em;
}
.porduct-order-agile {
width: 62%;
}
}
@media(max-width:767px){
.sub-hedder h2, .form-control-w3l h3 {
font-size: 19px;
margin: 10px 0px;
}
.form-group-w3l input[type="text"], 
.form-group-w3l input[type="email"],
.form-control-w3l textarea {
padding: .6em .8em;
}
}
@media(max-width:736px){
.porduct-order-agile {
width: 65%;
}
.main h1{
color:#FF0000
}
.copy p {
font-size: 14px;
}
}
@media(max-width:667px){
.porduct-order-agile {
padding: 2.3em 2.3em 2.3em;
}
h1.header-w3ls {
letter-spacing: 1px;
}	
.form-control-w3l {
margin-top: 1.4em;
}
}
@media(max-width:640px){
button[type=submit] {
margin: 12px 0px 0px;
}
.porduct-order-agile {
width: 69%;
}
}
@media(max-width:600px){
.form-control-w3l textarea {
height: 6em;
}
button[type=submit] {
font-size: 14px;
}
}
@media(max-width:568px){
.copy {
padding: 25px 0px;
}	
.porduct-order-agile {
width: 70%;
}
}
@media(max-width:480px){
.form-group-w3l input[type="text"], .form-group-w3l input[type="email"], .form-control-w3l textarea {
margin: 13px 0px 13px;
}
.copy p {
line-height: 28px;
}
h1.header-w3ls {
font-size: 2.2em;
}
.main {
flex-direction: column;
}
}
@media(max-width:440px){
.form-group-w3l input[type="text"], .form-group-w3l input[type="email"], .form-control-w3l textarea {
padding: .6em .7em;
}
.sub-hedder h2, .form-control-w3l h3 {
font-size: 18px;	
}
}
@media(max-width:414px){
.porduct-order-agile {
padding: 2em 2em 2em;
}
h1.header-w3ls {
padding: 23px 0px 20px;
}	
}
@media(max-width:384px){
h1.header-w3ls {
font-size: 2em;
}
label.form-check-label {
font-size: 13px;
}
}
@media(max-width:375px){
.form-control-w3l {
margin-top: 1.2em;
}	
}
@media(max-width:320px){
h1.header-w3ls {
font-size: 1.8em;
}
}
/*--//responsive--*/
