
<!DOCTYPE html>
<html lang="en">
<head>
<title>About Us</title>
	
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Taxi Cab Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->
	
	<!-- css files -->
	<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}"> <!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" type="text/css" media="all" /> <!-- Style-CSS --> 
	<link rel="stylesheet" href="{{url_for('static',filename='css/fontawesome-all.css')}}"> <!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->

	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
	<!-- //web-fonts -->
	
</head>

<body>

<!--/banner-->
<div class="top-bar_sub_w3layouts container-fluid">
		<div class="row">
			
			<div class="col-md-4 col-sm-6 log-icons mt-2">
				
			</div>
			
			<div class="col-md-4 col-sm-6 logo">
				<a class="navbar-brand" href="index.html">
					<i class="fas fa-taxi"></i> CAR RENTAL SERVICE</a>
			</div>
			
			
			
		</div>
	</div>
	
	<div class="banner" id="home">
		<!-- header -->
		<header>
			<nav class="navbar navbar-expand-lg navbar-light bg-light top-header">
				<button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				    aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mx-auto">
						<li class="nav-item">
							<a class="nav-link ml-lg-0" href="{{url_for('homepage')}}">Home
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="{{url_for('aboutpage')}}">About</a>
						</li>
						<!--<li class="nav-item">
							<a class="nav-link" href="services.html">Services</a>
						</li>-->
						<li class="nav-item">
							<a class="nav-link" href="{{url_for('signin')}}">Booking</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" href="{{url_for('feedbackdriver')}}">Feedback</a>
						</li>
					</ul>

				</div>
			</nav>
		</header>
		<!-- //header -->
	</div>
	<!-- //banner -->


<!-- about -->
<section class="about py-5">
	<div class="container py-lg-5 py-3">
		<h3 class="heading text-capitalize text-center">Welcome</h3>
		<h5 class="heading mb-5 text-center"> </h5>
		<div class="about-head text-center ">
			<div class="row about-grids-top mb-5">
				<div class="col-lg-2 col-sm-4 col-6 about-grid p-0">
					<i class="fas fa-money-bill-alt" aria-hidden="true"></i>
					<h4>Low Charges</h4>
				</div>
				<div class="col-lg-2 col-sm-4 col-6 about-grid p-0">
					<i class="fa fa-users" aria-hidden="true"></i>
					<h4>Safe & Secure</h4>
				</div>
				<div class="col-lg-2 col-sm-4 col-6 mt-sm-0 mt-5 about-grid p-0">
					<i class="fa fa-road" aria-hidden="true"></i>
					<h4>Traffic Roads</h4>
				</div>
				<div class="col-lg-2 col-sm-4 col-6 mt-lg-0 mt-5 about-grid p-0">
					<i class="fa fa-taxi" aria-hidden="true"></i>
					<h4>Taxi Cabs</h4>
				</div>
				<div class="col-lg-2 col-sm-4 col-6 mt-lg-0 mt-5 about-grid p-0">
					<i class="fa fa-cogs" aria-hidden="true"></i>
					<h4>24/7 Service</h4>
				</div>
				<div class="col-lg-2 col-sm-4 col-6 mt-lg-0 mt-5 about-grid p-0">
					<i class="fa fa-smile" aria-hidden="true"></i>
					<h4>Customers</h4>
				</div>
	
		</div>
				
	</div>
</section>
<!-- //about -->



<!-- Cars slider -->
<section class="food-Slider py-5">
	<div class="container py-lg-5">
		<h3 class="heading text-capitalize text-center">AVAILABLE CAR OPTIONS</h3>
		<h5 class="heading mb-5 text-center"> </h5>
		<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="row">
						<div class="col-md-4 col-sm-6 slidering">
							<div class="thumbnail"><img src="{{url_for('static',filename='images/1.png')}}" alt="Image" style="max-width:100%;"></div>
							<h5 class="my-2 text-center text-uppercase">Mini Cab</h5>
						</div>
						<div class="col-md-4 col-sm-6 slidering">
							<div class="thumbnail"><img src="{{url_for('static',filename='images/2.png')}}" alt="Image" style="max-width:100%;"></div>
							<h5 class="my-2 text-center text-uppercase">Prime Sedan </h5>
						</div>
						<div class="col-md-4 col-sm-6 slidering">
							<div class="thumbnail"><img src="{{url_for('static',filename='images/3.png')}}" alt="Image" style="max-width:100%;"></div>
							<h5 class="my-2 text-center text-uppercase">Prime SUV </h5>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="row">
						<div class="col-md-4 col-sm-6 slidering">
							<div class="thumbnail"><img src="{{url_for('static',filename='images/1.png')}}" alt="Image" style="max-width:100%;"></div>
							<h5 class="my-2 text-center text-uppercase">Mini Taxi </h5>
						</div>
						<div class="col-md-4 col-sm-6 slidering">
							<div class="thumbnail"><img src="{{url_for('static',filename='images/2.png')}}" alt="Image" style="max-width:100%;"></div>
							<h5 class="my-2 text-center text-uppercase">Prime Taxi </h5>
						</div>
						<div class="col-md-4 col-sm-6 slidering">
							<div class="thumbnail"><img src="{{url_for('static',filename='images/3.png')}}" alt="Image" style="max-width:100%;"></div>
							<h5 class="my-2 text-center text-uppercase">Sedan Taxi </h5>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="row">
						<div class="col-md-4 col-sm-6 slidering">
							<div class="thumbnail"><img src="{{url_for('static',filename='images/1.png')}}" alt="Image" style="max-width:100%;"></div>
							<h5 class="my-2 text-center text-uppercase">Mini Taxi </h5>
						</div>
						<div class="col-md-4 col-sm-6 slidering">
							<div class="thumbnail"><img src="{{url_for('static',filename='images/2.png')}}" alt="Image" style="max-width:100%;"></div>
							<h5 class="my-2 text-center text-uppercase">Prime Taxi </h5>
						</div>
						<div class="col-md-4 col-sm-6 slidering">
							<div class="thumbnail"><img src="{{url_for('static',filename='images/3.png')}}" alt="Image" style="max-width:100%;"></div>
							<h5 class="my-2 text-center text-uppercase">Sedan Taxi </h5>
						</div>
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
				<span class="fa fa-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
				<span class="fa fa-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
</section>
<!-- //Cars slider -->





			
<!-- login and register modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Sign In to your account</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="#" method="post">
					<div class="form-group">
						<label for="recipient-name" class="col-form-label">User Name</label>
						<input type="text" class="form-control" placeholder="User Name" name="Name" id="recipient-name" required="">
					</div>
					<div class="form-group">
						<label for="password" class="col-form-label">Password</label>
						<input type="password" class="form-control" placeholder="Password" name="Password" id="password" required="">
					</div>
					<div class="row sub-w3l my-3">
						<div class="col sub-agile">
							<input type="checkbox" id="brand1" value="">
							<label for="brand1" class="text-white">
								<span></span>Remember me?</label>
						</div>
						<div class="col forgot-w3l text-right">
							<a href="#" class="text-white">Forgot Password?</a>
						</div>
					</div>
					<div class="right-w3l">
						<input type="submit" class="form-control" value="Sign In">
					</div>
					<p class="text-center dont-do text-white mt-3">Don't have an account?
						<a href="#" data-toggle="modal" data-target="#exampleModal1" class="text-white">
							Register Now</a>
					</p>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel1">Register your account</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="#" method="post">
					<div class="form-group">
						<label for="recipient-name" class="col-form-label">User Name</label>
						<input type="text" class="form-control" placeholder="User Name" name="Name" id="recipient-rname" required="">
					</div>
					<div class="form-group">
						<label for="recipient-email" class="col-form-label">Email</label>
						<input type="email" class="form-control" placeholder="Email" name="Email" id="recipient-email" required="">
					</div>
					<div class="form-group">
						<label for="password1" class="col-form-label">Password</label>
						<input type="password" class="form-control" placeholder="Password" name="Password" id="password1" required="">
					</div>
					<div class="form-group">
						<label for="password2" class="col-form-label">Confirm Password</label>
						<input type="password" class="form-control" placeholder="Confirm Password" name="Confirm Password" id="password2" required="">
					</div>
					<div class="sub-w3l">
						<div class="sub-agile">
							<input type="checkbox" id="brand2" value="">
							<label for="brand2" class="mb-3">
								<span></span>I Accept to the Terms & Conditions</label>
						</div>
					</div>
					<div class="right-w3l">
						<input type="submit" class="form-control" value="Register">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- //login and register modal -->

<!-- js-scripts -->		

	<!-- js -->
	<script type="text/javascript" src="{{url_for('static',filename='js/jquery-2.1.4.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.js')}}"></script> <!-- Necessary-JavaScript-File-For-Bootstrap --> 
	<!-- //js -->
	
	<!-- stats -->
	<script src="{{url_for('static',filename='js/jquery.waypoints.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/jquery.countup.js')}}"></script>
	<script>
		$('.counter').countUp();
	</script>
	<!-- //stats -->

	<!-- carousel -->
	<script src="{{url_for('static',filename='js/owl.carousel.js')}}"></script>
	<script>
		$(document).ready(function () {
			$('.owl-carousel').owlCarousel({
				loop: true,
				margin: 10,
				responsiveClass: true,
				responsive: {
					0: {
						items: 1,
						nav: true
					},
					600: {
						items: 1,
						nav: false
					},
					900: {
						items: 2,
						nav: false
					},
					1000: {
						items: 3,
						nav: true,
						loop: false,
						margin: 20
					}
				}
			})
		})
	</script>
	<!-- //carousel -->

	<!--slider-->
	<script src="{{url_for('static',filename='js/responsiveslides.min.js')}}"></script>
	<script>
		$(function () {
			// Slideshow 1
			$("#slider1").responsiveSlides({
				auto: true,
				pager: true,
				nav: true,
				speed: 500,
				namespace: "centered-btns"
			});
		});
	</script>
	<!--//slider-->

	<!-- start-smoth-scrolling -->
	<script src="{{url_for('static',filename='js/SmoothScroll.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/move-top.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/easing.js')}}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- start-smoth-scrolling -->
	
<!-- //js-scripts -->

</body>
</html>
