
<!DOCTYPE html>
<html lang="en">
<head>
<title>Car Rental Services</title>
	
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Taxi Cab Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->

	<link rel="stylesheet" href="{{url_for('static',filename='css/owl.carousel.css')}}" type="text/css" media="all">
	<link rel="stylesheet" href="{{url_for('static',filename='css/owl.theme.css')}}" type="text/css" media="all">
	<!-- css files -->
	<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}"> <!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" type="text/css" media="all" /> <!-- Style-CSS --> 
	<link rel="stylesheet" href="{{url_for('static',filename='css/fontawesome-all.css')}}"> <!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->

	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
	<!-- //web-fonts -->
	
</head>

<body>

<!--/banner-->
	<div class="top-bar_sub_w3layouts container-fluid">
		<div class="row">
			
			<div class="col-md-4 col-sm-6 log-icons mt-2">
				<p class="py-2"> </p>
			</div>
			
			<div class="col-md-4 col-sm-6 logo">
				<a class="navbar-brand" href="index.html">
					<i class="fas fa-taxi"></i> CAR RENTAL SERVICE</a>
			</div>
			
			
			<div class="col-md-4 top-forms mt-md-3 mt-2 mb-md-0 mb-3">
				<span class="mx-lg-4 mx-md-2  mx-1">
					<a href="{{url_for('signin')}}">
						<i class="fas fa-lock"></i> Sign In</a>
				</span>
				<span>
					<a href="{{url_for('register')}}" >
						<i class="fas fa-user"></i> Register</a>
				</span>
			</div>
		</div>
	</div>

	<div class="banner" id="home">
		<!-- header -->
		<header>
			<nav class="navbar navbar-expand-lg navbar-light bg-light top-header">
				<button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				    aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mx-auto">
						<li class="nav-item active">
							<a class="nav-link ml-lg-0" href="{{url_for('homepage')}}">Home
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{url_for('aboutpage')}}">About</a>
						</li>
						<!--<li class="nav-item">
							<a class="nav-link" href="services.html">Services</a>
						</li>-->
						<li class="nav-item">
							<a class="nav-link" href="{{url_for('signin')}}">Booking</a>
						<li class="nav-item">
							<a class="nav-link" href="{{url_for('feedbackdriver')}}">Feedback</a>
						</li>
					</ul>

				</div>
			</nav>
		</header>
		<!-- //header -->
		<!-- banner-text -->
<!-- You will not be able to see this text. -->



		<div id="wrapper">

			<!-- Slideshow 1 -->
			<div class="rslides_container">
				<ul class="rslides" id="slider1">
					<li>
						<div class="banner-img">
							<div class="bs-slider-overlay">
								<div class="banner-info text-center">
									<span class="fas fa-taxi"></span>
									<h1>CAR RENTAL SERVICE </h1>
									<h2 class="mb-5"><i class="fas fa-phone"></i> (0253)2346624</h2>
									<a href="{{url_for('signin')}}">Book Now </a>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="banner-img one">
							<div class="bs-slider-overlay">
								<div class="banner-info text-center">
									<span class="fas fa-taxi"></span>
									<h4>Online Cab Booking</h4>
									<h5 class="mb-5">No Extra Charges</h5>
									
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="banner-img two">
							<div class="bs-slider-overlay">
								<div class="banner-info text-center">
									<span class="fas fa-taxi"></span>
									<h4>Reach Your Destination</h4>
									<h5 class="mb-5">Within Exact Time </h5>
									
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="banner-img three">
							<div class="bs-slider-overlay">
								<div class="banner-info text-center">
									<span class="fas fa-taxi"></span>
									<h4>Travel Safe & Secure</h4>
									<h5 class="mb-5">Assured Cab Service</h5>
									
								</div>
							</div>
						</div>
					</li>

				</ul>
			</div>
		</div>
	</div>
	<!-- //banner -->

	
<!-- about -->
<section class="about py-5">
	<div class="container py-lg-5 py-3">
		<h3 class="heading text-capitalize text-center">Welcome</h3>
		<h5 class="heading mb-5 text-center"> </h5>
		<div class="about-head text-center ">
			<div class="row about-grids-top mb-5">
				<div class="col-lg-2 col-sm-4 col-6 about-grid p-0">
					<i class="fas fa-money-bill-alt" aria-hidden="true"></i>
					<h4>Low Charges</h4>
				</div>
				<div class="col-lg-2 col-sm-4 col-6 about-grid p-0">
					<i class="fa fa-users" aria-hidden="true"></i>
					<h4>Safe & Secure</h4>
				</div>
				<div class="col-lg-2 col-sm-4 col-6 mt-sm-0 mt-5 about-grid p-0">
					<i class="fa fa-road" aria-hidden="true"></i>
					<h4>Traffic Roads</h4>
				</div>
				<div class="col-lg-2 col-sm-4 col-6 mt-lg-0 mt-5 about-grid p-0">
					<i class="fa fa-taxi" aria-hidden="true"></i>
					<h4>Taxi Cabs</h4>
				</div>
				<div class="col-lg-2 col-sm-4 col-6 mt-lg-0 mt-5 about-grid p-0">
					<i class="fa fa-cogs" aria-hidden="true"></i>
					<h4>24/7 Service</h4>
				</div>
				<div class="col-lg-2 col-sm-4 col-6 mt-lg-0 mt-5 about-grid p-0">
					<i class="fa fa-smile" aria-hidden="true"></i>
					<h4>Customers</h4>
				</div>
			</div>
			<div class="row about-grids-bottom text-left">
			</div>
		</div>
				
	</div>
</section>
<!-- //about -->



<!-- js-scripts -->		

	<!-- js -->
	<script type="text/javascript" src="{{url_for('static',filename='js/jquery-2.1.4.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.js')}}"></script> <!-- Necessary-JavaScript-File-For-Bootstrap --> 
	<!-- //js -->
	
	<!-- carousel -->
	<script src="{{url_for('static',filename='js/owl.carousel.js')}}"></script>
	<script>
		$(document).ready(function () {
			$('.owl-carousel').owlCarousel({
				loop: true,
				margin: 10,
				responsiveClass: true,
				responsive: {
					0: {
						items: 1,
						nav: true
					},
					600: {
						items: 1,
						nav: false
					},
					900: {
						items: 2,
						nav: false
					},
					1000: {
						items: 3,
						nav: true,
						loop: false,
						margin: 20
					}
				}
			})
		})
	</script>
	<!-- //carousel -->

	<!--slider-->
	<script src="{{url_for('static',filename='js/responsiveslides.min.js')}}"></script>
	<script>
		$(function () {
			// Slideshow 1
			$("#slider1").responsiveSlides({
				auto: true,
				pager: true,
				nav: true,
				speed: 500,
				namespace: "centered-btns"
			});
		});
	</script>
	<!--//slider-->

	<!-- start-smoth-scrolling -->
	<script src="{{url_for('static',filename='js/SmoothScroll.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/move-top.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/easing.js')}}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- start-smoth-scrolling -->
	
<!-- //js-scripts -->

</body>
</html>
