<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Reset Password Form  Responsive Widget Template | Home :: w3layouts</title>
<!--<link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet" type="text/css" media="all"/>-->
<link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
<link href="{{url_for('static',filename='css/reset.css')}}" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Reset Password Form Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!--google fonts-->
<link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
</head>
<body>
<!--element start here-->
<div class="container" style="min-height:100% width:80%">
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
		    {% for message in messages %}
			  <div class="alert alert-warning alert-dismissible" role="alert">
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
				{{message}}
			  </div>
			{% endfor %}
		  {% endif %}
		{% endwith %}
		
		{% block body %}{% endblock %}
	</div>
<div class="elelment">
	<!--<h2>Reset Password Form</h2>-->
	<div class="element-main">
		<h1>Forgot Password?</h1>
		<p> Please Fill Following Form to reset password</p>
		<form action="{{url_for('resetpasswordform')}}" method="post">
			<input type="text" name = "username" placeholder="Your Username" required=""">
			<select type="text" name="squestion" id="squestion" name="squestion">
    					<option value="0" selected>    Select Security Question</option>
					<option value="1">Your Mother's Maiden Name</option>
					<option value="2">Your First School Name</option>
					<option value="3">Your First Phone's Brand Name</option>
					<option value="4">Your Childhood Best Friend's Name</option>
				</select>
				
				<br>
			<input type="text" name="answer" placeholder="Answer Security Question" required=""">
			<input type="password" name = "password" placeholder="New Password" required=""">
			<input type="password" placeholder="Confirm New Password" required=""">
			<input type="submit" value="Reset my Password">
		</form>
	</div>
</div>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>


<!--element end here-->
</body>
</html>
