
<!DOCTYPE html>
<html>
<head>
<title>Flat Sign Up Form Responsive Widget Template| Home :: W3layouts</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Flat Sign Up Form Responsive Widget Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Meta tag Keywords -->
<!-- css files -->
<link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
<link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet" media="all">
<link href="{{url_for('static',filename='css/font-awesome.min.css')}}" rel="stylesheet"media="all">
<!-- //css files -->
<!-- online-fonts -->
<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'><link href='//fonts.googleapis.com/css?family=Raleway+Dots' rel='stylesheet' type='text/css'>
</head>
<body>
<!--header-->
	<div class="header-w3l">
		<h1>Car Rental</h1>
	</div>
	<div class="container" style="min-height:100% width:80%">
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
		    {% for message in messages %}
			  <div class="alert alert-warning alert-dismissible" role="alert">
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
				{{message}}
			  </div>
			{% endfor %}
		  {% endif %}
		{% endwith %}
		
		{% block body %}{% endblock %}
	</div>
<!--//header-->
<!--main-->
<div class="main-agileits">
	<h2 class="sub-head">Sign Up</h2>
		<div class="sub-main">	
			<form action="{{url_for('adduser')}}" method="post">
				<input placeholder="First Name" name="FName" class="name" type="text" required="">
					<span class="icon1"><i class="fa fa-user" aria-hidden="true"></i></span><br>
				<input placeholder="Last Name" name="lName" class="name2" type="text" required="">
					<span class="icon2"><i class="fa fa-user" aria-hidden="true"></i></span><br>
				<input placeholder="Username" name="username" class="name" type="text" required="">
					<span class="icon10"><i class="fa fa-user" aria-hidden="true"></i></span><br>
				<input placeholder="Phone Number" name="PhoneNumber" class="number" type="text" required="">
					<span class="icon3"><i class="fa fa-phone" aria-hidden="true"></i></span><br>
				<input placeholder="Email" name="email" class="mail" type="text" required="">
					<span class="icon4"><i class="fa fa-envelope" aria-hidden="true"></i></span><br>
				<input placeholder="age" name="age" class="age" type="text" required="">
					<span class="icon4"><i class="fa fa-envelope" aria-hidden="true"></i></span><br>
				<input  placeholder="Password" name="Password" class="pass" type="password" required="">
					<span class="icon5"><i class="fa fa-unlock" aria-hidden="true"></i></span><br>
	
				<input  placeholder="Confirm Password" name="ConfirmPassword" class="pass" type="password" required="">
					<span class="icon6"><i class="fa fa-unlock" aria-hidden="true"></i></span><br>
				<!--<input list="security_Q" placeholder="Select Security Question" name="security_Q" class="pass" type="text" required="">
					<span class="icon6"><i class="fa fa-unlock" aria-hidden="true"></i></span><br>> 
				<datalist id="security_Q">
					<option value="Your First School Name">
					<option value="Your Mother's Maiden Name">
					<opton value="Your First Phone's Brand Name">
					<option value="Your Childhood Best Friend's Name">
				</datalist>-->
				<select class="name" id="squestion" name="squestion">
    					<option value="0" selected>Select Security Question</option>
					<option value="1">Your Mother's Maiden Name</option>
					<option value="2">Your First School Name</option>
					<option value="3">Your First Phone's Brand Name</option>
					<option value="4">Your Childhood Best Friend's Name</option>
				</select>
				<br>
				<input placeholder="Enter Security answer" name="answer" class="name" type="text" required="">
					<span class="icon1"><i class="fa fa-user" aria-hidden="true"></i></span><br>
				<!--<input type="button" id="btnReset" value="Reset" onclick="Reset();" />
				<script type="text/javascript">
    					function Reset() {
        					var dropDown = document.getElementById("security_Q");
        					dropDown.selectedIndex = 0;
    					}
				</script>-->
 
				
				<input type="submit" value="sign up">
			</form>
		</div>
		<div class="clear"></div>
</div>
<!--//main-->
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>


</body>
</html>
